/* mise en forme de l'en-tête */
.header {
    padding: 85px;
    text-align: center;
    background-image: url("../images/bivouac-aiguilles-de-la-pennaz-contamines.jpg");
    background-position: 0px -350px;
    background-size: cover
  }

  .header h1 {
    font-size: 37px;
  }

  /* mise en forme de la barre de navigation*/
  .topnav {
    overflow: hidden;
    background-color: #252422;
  }
  
  /*mise en forme des liens de la barre de navigation*/
  .topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 17px;
    text-decoration: none;
  }
  
  /* changer la couleur de la barre de navigation au survol */
  .topnav a:hover {
    background-color: #786b55;
    color: #ffffff;
    text-decoration: none;
  }
