body {
    background-image: url("../images/terres-noires-tour-des-baronnies-provencales-flou.jpg");
    background-size: cover;
    margin: 0;
}

/* mise en forme de l'en-tête */
.header {
    padding: 85px;
    text-align: center;
    background-image: url("../images/terres-noires-tour-des-baronnies-provencales.jpg");
    background-position: 0px -300px;
    background-size: cover
}

.header h1 {
    font-size: 37px;
}

/* mise en forme de la barre de navigation*/
.topnav {
    overflow: hidden;
    background-color: #252422;
}

/*mise en forme des liens de la barre de navigation*/
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 17px;
    text-decoration: none;
}

/* changer la couleur de la barre de navigation au survol */
.topnav a:hover {
    background-color: #786b55;
    color: #ffffff;
    text-decoration: none;
}

.flourish {
    width: 60%;
    background-color: #ffffff;
    margin: 1%;
    padding: 1%;
    float: left;
}

.rightcolumn {
    float: right;
    width: 31%;
    background-color: #ffffff;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 1%;
    padding-left: 21px;
    padding-right: 21px;
    padding-bottom: 21px;
  }

  .imgfirst {
    background-image: url("../images/hautes_alpes.jpg");
    background-size: cover;
    width: 100%;
    height:200px;
    margin-top: 10%;

  }

  .imgtwo {
    background-image: url("../images/feu_foret_landes.jpg");
    background-size: cover;
    width: 100%;
    height: 200px;
  }

  .around {
    background-color: white;
    padding: 21px;
    margin-top: 21px;
  }

  .around h3{
    margin-bottom:-5%;
  }
  
  
  /* retirer les flottants après les colonnes */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }

  .imgfirst h5 {
    margin-bottom:-10%;
  }
  .imgfirst p {
    font-size: 11px;
  }

  .imgtwo p {
    font-size: 11px;
  }

  .imgtwo h5 {
    margin-bottom:-10%;
  }

  
br {
  content: "";
  display: block;
  margin-bottom: 1.5em;
 }