/* mise en forme de l'en-tête */
.header {
    padding: 85px;
    text-align: center;
    background-image: url("../images/bivouac-aiguilles-de-la-pennaz-contamines.jpg");
    background-position: 0px -350px;
    background-size: cover
  }

  .header h1 {
    font-size: 37px;
  }

  /* mise en forme de la barre de navigation*/
  .topnav {
    overflow: hidden;
    background-color: #252422;
  }
  
  /*mise en forme des liens de la barre de navigation*/
  .topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 17px;
    text-decoration: none;
  }
  
  /* changer la couleur de la barre de navigation au survol */
  .topnav a:hover {
    background-color: #786b55;
    color: #ffffff;
    text-decoration: none;
  }

  .info { padding: 6px 8px; font: 17px/20px Arial, Helvetica, sans-serif; background: white; background: rgba(255,255,255,0.7); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px; }
  .info h4 { margin: 0 0 5px; color: #777; }
  .legend { text-align: left; line-height: 20px; color: #555; }
  .legend i { width: 20px; height: 20px; float: left; margin-right: 8px; opacity: 0.7; }